
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 9999;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  display: inline-block;
  background: #969696;
  padding: 10px;
  border-radius: 8px;
}

.loading-spinner i{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  margin: 0 5px;
  animation: loading 1s infinite;
}
